body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
button,input[type=submit]{
    width: 100px;
}
input[type=text]{
    width: 200px;
    height:23px;
    line-height: 23px;
}
.hide{
    display: none;
}
.inline{
    display: inline-block;
}
.right{
    float:right
}
.comment-box{
    width: 50%;
    height: auto;
    min-height: 30%;
    margin: 20px;
    padding: 20px;
    border:1px solid cornflowerblue;
}
.comment-list{
    width: 80%;
    padding:10px;
    border: 1px solid grey;
    background-color: aliceblue;
}
.comment-form{
    width: 80%;
    padding:10px;
    border: 1px solid grey;
    background-color: cadetblue;
    margin-top: 10px;
}

.nav{
    width:670px;
    height: 450px;
    border: 1px solid grey;
    margin-top: 30px;
}
.nav>div{
    display: inline-block;
}

.box{
    width:180px;
    height: 50px;
    margin: 50px 5px;
}
.main{
    display: inline-block;
    width: 300px;
    height:250px;
    border: 1px solid black;
}
